.img-overlap {
  position: relative;
  min-height: auto;
  left: 0;
  @include breakpoint(md) {
    min-height: 500px;
    left: 40px;
  }
  img {
    width: 380px;
    max-width: 100%;
    height: auto;
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
    margin-bottom: var(--space-md);
    @include breakpoint(md) {
      position: absolute;
      left: -45px;
      top: 45px;
    }
    &:nth-child(2) {
      left: 0;
      top: 0;
      z-index: 2;
    }
    &:last-child {
      top: 0;
      left: 0;
      z-index: 1;
      @include breakpoint(md) {
        top: 80px;
        left: 50px;
        z-index: 3;
      }
    }

    &:hover {
      z-index: 9;
    }
  }
}