.offer-geometry {
  h1 {
    span {
      font-size: 25px;
      color: red;
    }
  }
}

.logo-offer {
  width: 50%;
  padding-top: 20px;
  @include breakpoint(md) {
    padding-top: 10px;
    width: 18%;
  }
}
