/* -------------------------------- 

File#: _2_draggable-img-gallery
Title: Draggable Image Gallery
Descr: A gallery of images that can be dragged to reveal new items
Usage: codyhouse.co/license

-------------------------------- */

:root {
  --drag-gallery-img-width: 350px; // single image width
  --drag-gallery-img-gap: var(--space-xxxxl); // gap
}

@supports (--css: variables) {
  :root {
    @include breakpoint(sm) {
      --drag-gallery-img-width: 350px;
    }

    @include breakpoint(md) {
      --drag-gallery-img-width: 670px;
    }
  }
}

// default style
.drag-gallery {
  position: relative;
  overflow: hidden;

  &:focus {
    outline: none;
  }
}

.drag-gallery__list {
  display: flex;
  align-items: center;
  overflow: auto;
  padding: 40px 0 0 0;

  @include breakpoint(md) {
    padding: 70px 0 0 80px;
  }

  &::after {
    // never visible - make sure .drag-gallery__list padding-right is applied
    display: block;
    content: "";
    height: 1px;
    padding-right: inherit;
  }
}

.drag-gallery__item {
  // float: left; // flex fallback
  width: var(--drag-gallery-img-width);
  flex-shrink: 0;
  margin-right: 84px;

  @include breakpoint(md) {
    margin-right: var(--drag-gallery-img-gap);
  }
  &:first-child {
    h2 {
      right: 50%;
      font-size: 16px;
      color: red;
      position: absolute;
      font-weight: bold;
      @include breakpoint(md) {
        font-size: 23px;
        right: -20%;
      }
    }
  }

  &:last-child {
    margin-right: 0;
    h2 {
      right: 50%;
      font-size: 16px;
      color: red;
      position: absolute;
      font-weight: bold;
      top: -30%;
      @include breakpoint(md) {
        font-size: 23px;
        left: -22%;
        top: -29%;
      }
    }
  }

  img {
    display: block;
  }
  &:first-child {
    &:after {
      content: "";
      background-color: red;
      width: 13px;
      height: 13px;
      position: absolute;
      left: 108.5%;
      transform: rotate(45deg);

      @include breakpoint(md) {
        width: 15px;
        height: 15px;
        left: 124%;
      }
      top: 50%;
    }
    &:before {
      content: "";
      background-color: red;
      width: 2px;
      height: 550px;
      position: absolute;
      left: 110%;

      @include breakpoint(md) {
        left: 125%;
      }
      top: 0;
    }
  }
}

.drag-gallery__gesture-hint {
  width: 4em;
  height: 4em;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 2em);
  left: calc(50% - 2em);
  display: none;
}

// js enabled style
.js {
  .drag-gallery {
    cursor: grab;
  }

  .drag-gallery--is-dragging {
    cursor: grabbing;
  }

  .drag-gallery__list {
    overflow: visible;
    will-change: transform;
    transform: translateZ(0);
    backface-visibility: hidden;
  }

  .drag-gallery__item {
    transition: opacity 1.5s;
    user-select: none;

    img {
      pointer-events: none;
    }
  }

  .drag-gallery__item--visible {
    opacity: 1;
  }

  .drag-gallery--anim-off .drag-gallery__item {
    // remove opacity animation if reduced motion is on
    opacity: 1;
  }

  .drag-gallery__gesture-hint {
    display: block;
    opacity: 0;
    transform: translateX(0) scale(1);
  }

  .drag-gallery__gesture-hint--animate {
    animation: drag-gallery-gesture-hint 2.8s;
  }
}

@keyframes drag-gallery-gesture-hint {
  0%,
  60% {
    opacity: 0;
    transform: translateX(0) scale(1);
  }

  5%,
  65% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }

  10%,
  70% {
    opacity: 1;
    transform: translateX(0) scale(0.8);
  }

  30%,
  90% {
    opacity: 1;
    transform: translateX(-200%) scale(0.8);
    animation-timing-function: var(--ease-in-out);
  }

  35%,
  95% {
    opacity: 1;
    transform: translateX(-200%) scale(1);
  }

  40%,
  100% {
    opacity: 0;
    transform: translateX(-200%) scale(1);
  }
}
